/* Empty. Add your own CSS if you like */

h4{
  text-align: center;
}

.defi{
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 30%;
}

.user{
  text-align: center;
  margin: 20px;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.submit{
  margin-left: 25%;
}
